.client-logo-slider-container {
  padding: 5rem 0rem;
  background: var(--dark-shade-black);
  // box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3),
  //   0 5px 15px rgba(255, 255, 255, 0.2);
}
.client-slider-wrapper {
  overflow: hidden;
  width: 80%;
  padding: 2rem 0;
  // background-color: #1a1a1a;
  // margin: 0rem 7rem 3rem 7rem;
}

.client-slider-track {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
}

.client-slider-heading {
  font-size: var(--xxxlarge-font);
  // color: var(--light-icon-color);
  color: var(--containedBg);
  font-weight: bold;
  text-align: center;
  position: relative;
  // box-shadow: 0 5px 1px -2px rgba(255, 255, 255, 0.2);
  // &:after {
  //   content: "";
  //   position: absolute;
  //   /* width: 80%; */
  //   height: 2px;
  //   /* top: 2px; */
  //   bottom: 0px;
  //   left: 45%;
  //   right: 48%;
  //   /* color: var(--containedBg); */
  //   background: var(--containedBg);
  //   background: #0a66c2;
  // }
}

.client-logo {
  // flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-logo img {
  max-width: 100%;
  max-height: 80px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .client-logo-slider-container {
    display: none;
    padding: 1rem 0rem;
    background: var(--dark-shade-black);
    // background: var(--body-background-color);
  }
  .client-slider-track {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 0 2rem;
  }

  .client-logo {
    width: 45%;
  }

  .client-slider-wrapper {
    // display: flex;
    width: 100%;
    margin: 1rem 0rem;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
}
