.contactUsWaysContainer {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.reachUsWrapper {
  padding: 1.5rem;
  text-align: center;
  div {
    padding: 0.5rem;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    .MuiSvgIcon-root {
      font-size: var(--xlarge-font);
      color: var(--containedBg);
    }
  }
  .reachToUs {
    position: relative;
    font-size: var(--large-font);
    color: var(--containedBg);
    font-weight: 600;
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      bottom: 0;
      right: 20%;
      left: 20%;
      background-color: var(--containedBg);
    }
  }
  .phoneNo {
    font-size: var(--large-font);
  }
  &:hover .phoneNo.email {
    color: var(--containedBg);
  }
  cursor: pointer;
  &.addresses {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem 1rem;
    .transitionBtmToTop {
      width: 70%;
      .phoneNo {
        display: flex;
        justify-content: center;
        align-items: center;
        // text-align: start;
        line-height: 1.5rem;
        flex-direction: column;
        width: 33%;
        gap: 0.5rem;
        padding: 1rem;
        .MuiSvgIcon-root {
          font-size: var(--xxxlarge-font);
        }
      }
      @media screen and (max-width: 768px) {
        width: 65%;
      }
      @media screen and (max-width: 992px) {
        width: 100%;
      }
      @media screen and (min-width: 1300px) {
        width: 60%;
      }
    }
  }
  .transitionBtmToTop .alladdresses {
    display: flex;
    justify-content: center;
    gap: 1rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      .phoneNo {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .contactUsWaysContainer {
    .reachUsWrapper {
      padding: 0.8rem;
      &.addresses {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contactUsWaysContainer {
    gap: 0.1rem;
  }
}
