.housekeeping-services {
  padding: 3rem 5rem;
  //   background-color: #000;
  text-align: center;
  @media screen and (max-width: 992px) {
    padding: 2rem 1.5rem;
  }
  .houseKeepingHeading {
    font-size: var(--xxlarge-font);
    font-weight: 600;
    color: var(--containedBg);
    margin-bottom: 2rem;
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .service-card {
    background: var(--card-background-color);
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(60px);
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    .content {
      padding: 1rem;
      text-align: left;

      h3 {
        font-size: var(--slarge-font);

        font-weight: 600;
        color: var(--containedBg);
        margin-bottom: 0.5rem;
        @media (max-width: 992px) {
          font-size: var(--large-font);
        }
      }

      p {
        font-size: var(--normal-font);
        color: var(--white-text-color);
        margin-bottom: 1rem;
        @media (max-width: 992px) {
          font-size: var(--slarge-font);
        }
      }

      .cta {
        font-weight: 600;
        color: var(--light-blue-purple);
        cursor: pointer;
        font-size: var(--small-font);
        position: relative;
        display: inline-block;
        @media (max-width: 992px) {
          font-size: var(--normal-font);
        }
        &::after {
          content: "";
          display: block;
          width: 20px;
          height: 2px;
          background: var(--light-blue-purple);
          margin-top: 4px;
        }
      }
    }
  }
}
